<h1>Test api</h1>

{{#if signup}}
<form action="/" method="post" id="login">
{{else}}
<form action="/login" method="post" id="login">
{{/if}}
<label for="uname">UserName</label>
<input type="text" name="username" id="uname">
<label for="email">E-mail</label>
<input type="text" name="email" id="email">
<label for="password">password</label>
<input type="password" name="password" id="password">
{{#if signup}}
<input type="submit" value="signup">
{{else}}
<input type="submit" value="login">
{{/if}}
</form>