body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #31338f;
}

a {
  color: #00B7FF;
}

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login *{
  margin: 2px;
  width: 10vw;
}